@model DataAccess.Entities.Customer

@{
    ViewBag.Title = "Success";
}

<h2>@ViewBag.ok</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-primary" href="/Customer/Index">Quay lại</a>
    </div>
</div>



