@model DataAccess.Entities.Customer

@{
    ViewBag.Title = "Failure";
}

<h2>@ViewBag.ok</h2>

<div class="form-group">
    <a class="btn btn-primary" href="/Disk/Index">Quay lại trang quản lý đĩa</a>
</div>



