
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<h2 >Index</h2>
<hr/>
@Html.ActionLink("Tạo báo cáo tiêu đề", "Report_Title")<br />
@Html.ActionLink("Tạo báo cáo khách hàng", "Index", "CustomerReport")<br />
