
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Tạo báo cáo tất cả khách hàng", "Report_AllCustomer")<br />
@Html.ActionLink("Tạo báo cáo tất cả khách hàng", "Report_OverDueCustomer")<br />
@Html.ActionLink("Tạo báo cáo tất cả khách hàng", "Report_LateFeeCustomer")<br />