
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/CSS/alice-min-bundle-checkout-d4abccf615.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        .sub-navbar {
            margin-top: 5px;
            margin-left: 50px;
            padding:10px;
            color:#fff;
        }
        .sub-navbar:hover{
            border: solid 1px #FFF;
            border-radius: 4px;
        }
        .user-info {
            margin-top: 5px;
            margin-left: 50px;
            padding: 10px;
            margin-right: -30px;
            color: #ffe866;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Video Rental Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @{
                    if (Session[WebApplication.Models.UserSession.SessionName] != null)
                    {
                        WebApplication.Models.UserSession userSession = (WebApplication.Models.UserSession)Session[WebApplication.Models.UserSession.SessionName];

                        if (userSession.UserRole.Equals(DataAccess.Utilities.UserRole.Clerk))
                        {
                            <ul class="nav navbar-nav sub-navbar"><li>Clerk Taks 1</li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li>Clerk Taks 2</li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li>Clerk Taks 3</li></ul>
                        }
                        if (userSession.UserRole.Equals(DataAccess.Utilities.UserRole.Manager))
                        {
                            <ul class="nav navbar-nav sub-navbar"><li>Manager Taks 1</li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li>Manager Taks 2</li></ul>
                            <ul class="nav navbar-nav sub-navbar"><li>Manager Taks 3</li></ul>
                        }

                        <ul class="nav navbar-nav navbar-right user-info"><li> <span>Welcome @userSession.UserName</span></li></ul>
                        <ul class="nav navbar-nav navbar-right" style="margin-right:-250px"><li><a href="/Account/Logout">Logout</a></li></ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right" style="font-size:larger"><li><a href="/Account/Login">Login</a></li></ul>
                    }
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>