
@{
    ViewBag.Title = "RetalAndReturnManagement";
}

<h2>RetalAndReturnManagement</h2>

@Html.ActionLink("Thuê Đĩa", "ShowAllDisk", null, new { @class = "btn btn-info" })
@Html.ActionLink("Trả Đĩa", "ReturnDisk", null, new { @class = "btn btn-info" })