
@{
    ViewBag.Title = "RetalAndReturnManagement";
}

<h2>Quản Lí Mượn Trả Đĩa</h2>
<h2 class="text-danger">@ViewBag.status</h2>
@Html.ActionLink("Thuê Đĩa", "ShowAllDisk", null, new { @class = "btn btn-info" })
@Html.ActionLink("Trả Đĩa", "ReturnDisk", null, new { @class = "btn btn-info" })
@Html.ActionLink("Xem Trễ Hạn", "ShowLateCharge", null, new { @class = "btn btn-info" })