@model IEnumerable<WebApplication.Models.DiskView>

@{
    ViewBag.Title = "ShowRentingDisk";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiskID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiskTitleName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiskID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiskTitleName)
        </td>
    </tr>
}

</table>
