@model DataAccess.Entities.Customer

@{
    ViewBag.Title = "Success";
}

<h2>@ViewBag.ok</h2>

<div class="form-group">
    <a class="btn btn-primary" href="/DiskTitle/Index">Quay lại trang quản lý tiêu đề</a>
</div>




