
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth Error</title>
</head>
<body>
    <div class="danger"> 
       Bạn không có quyền thực hiện chức năng này! Vui lòng liên hệ Admin hoặc đăng nhập lại.
    </div>
</body>
</html>
