@model WebApplication.Models.NumberRequestView

@{
    ViewBag.Title = "LateChargePayment";
}

<h2>Thanh Toán Trễ Hạn</h2>
<h1>
    Price: <strong>@ViewBag.LateChargePayment</strong>
</h1>
<p>
    @Html.ActionLink("Hủy Bỏ", "Index")

    @Html.ActionLink("Thanh Toán", "RecordASpecificLateCharge", new { numberRequest = @Model.number }, new {@class="btn btn-info"})
</p>